{% extends 'Problems/base.html' %}
{% load crispy_forms_tags %}

{% block Title %}
    Задачи
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <tr>
            <th> Номер</th>
            <th> Условие</th>
            <th> Ответ</th>
            <th> Источник</th>
            <th> Действия</th>
        </tr>
        {% for task in all_tasks %}
            <tr>
                <td> №{{ task.id }}</td>
                <td> {{ task.body }}</td>
                <td> {{ task.ans }}</td>
                <td> {{ task.source }}</td>
                <td>
                    <button onclick="window.location.href='{% url 'tasks_read_task' task_id=task.id %}'">Просмотр</button>
                    <button onclick="window.location.href='{% url 'tasks_edit_task' task_id=task.id %}'">Редактировать</button>
                    <button onclick="window.location.href='{% url 'tasks_delete_task' task_id=task.id %}'">Удалить</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <button onclick="window.location.href='{% url 'tasks_create_task' %}'">Создать</button>
{% endblock %}