{% extends 'Problems/base.html' %}
{% load crispy_forms_tags %}

{% block Title %}
    Задачи
{% endblock %}

{% block content %}
    Deploy через Fabric работает!!<br>
    <table class="table table-bordered">
        <tr>
            <th> Номер</th>
            <th> Условие</th>
            <th> Ответ</th>
            <th> Источник</th>
        </tr>
        {% for task in all_tasks %}
            <tr>
                <td> №{{ task.id }}</td>
                <td> {{ task.body }}</td>
                <td> {{ task.ans }}</td>
                <td> {{ task.source }}</td>
            </tr>
        {% endfor %}
    </table>


    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ task_form|crispy }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}