{% extends 'Problems/base.html' %}
{% load crispy_forms_tags %}

{% block Title %}
    Задачи
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <tr>
            <th> Номер</th>
            <th> Условие</th>
            <th> Ответ</th>
            <th> Источник</th>
            <th> Действия</th>
        </tr>
        {% for task in all_tasks %}
            <tr>
                <td> №{{ task.id }}</td>
                <td><input type="text" id="{{ task.id }}_body" value="{{ task.body }}"></td>
                <td><input type="text" id="{{ task.id }}_ans" value="{{ task.ans }}"</td>
                <td><input type="text" id="{{ task.id }}_source" value="{{ task.source }}"</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'tasks_read_task' task_id=task.id %}'" data-toggle="tooltip" data-placement="right" title="Подробнее"><i class="fas fa-eye"></i></button>
                      <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'tasks_edit_task' task_id=task.id %}'"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'tasks_delete_task' task_id=task.id %}'"><i class="fas fa-trash"></i></button>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <button onclick="window.location.href='{% url 'tasks_create_task' %}'">Создать</button>


    <button type="button" class="btn btn-secondary" onclick="try_ajax()">Ajax</button>
    <div id="ajax_result"></div>
{% endblock %}